# Ignore Bayesian Logistics results
Bayesian_Logistics/results/
BNN/
more_pics/
others/

AnnealingFlow_Posterior/
Flow/

# Ignore plot results
plot_results/

# Ignore trained samplers
samplers_trained/
samplers_trained_Langevin/
plot_results_Langevin/

Annealing_Flow_no_Langevin.py
Annealing_Flow_sampler_no_Langevin.py

plot_unequal.py
run_flow.sbatch

toy_plot.py
gmm_density.png

# Ignore GMM_cube.yaml
GMM_cube.yaml
GMM_sphere_unequal.yaml
Samplers.yaml

venv/